[submodule "nebula"]
    path = nebula
    url = git://github.com/F1restorm07/nebula.git

[submodule "starlink"]
	path = starlink
	url = git://github.com/F1restorm07/starlink.git

[submodule "supernova"]
	path = supernova
	url = git://github.com/F1restorm07/supernova.git
